version: '3'

services:
  mysql:
    build:
      context: .
      dockerfile: Dockerfile
    image: mysql:latest
    command: mysqld --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PWD}
      MYSQL_DATABASE: ${MYSQL_DB_NAME}
    ports:
      - "${MYSQL_TCP_PORT_EXAMPLES}:3306"
#    volumes:
#      - ./tests/db:/docker-entrypoint-initdb.d/:ro
