[build-system]
requires = [ "setuptools", "wheel",]
build-backend = "setuptools.build_meta"

[tool.black]
skip-string-normalization = true
extend-exclude = "/templates"


[tool.pytest.ini_options]
#addopts = ["--import-mode=importlib", '-v', '--ignore-glob=*\Archive', '--cov-report=html']
addopts = ["--import-mode=importlib", '-v', '--cov=./', '--ignore-glob=*\Archive', '--cov-report=html']
#pythonpath = ["src", "tests" ]
markers = [
    'select: Run a selection of tests',
    'otmuni: One-To-Manu Uni-direction'
]
