name: PyPI Pipeline

on:
  pull_request:
  push:

jobs:
  Pre-Commit:
    uses: ./.github/workflows/pre-commit.yml

  Check-Documentation:
    needs: Pre-Commit
    uses: ./.github/workflows/check-rst-documentation.yml

  CI:
    uses: ./.github/workflows/ci.yml
    needs: Check-Documentation

  Build-and-Release-to-Pypi:
    needs: CI
    if: startsWith(github.ref, 'refs/tags/')
    uses: ./.github/workflows/build-and-release-to-pypi.yml
